<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Autor: <%= author %></h1>
    <img src="images/dimi.jpg" /><br />
    <a href="/">Volver</a>
  </body>
</html>

