<!--
 * *************************************************************************** *
 * Programa....: /quiz/views/error.ejs
 * Descripción.: Despliegue de mensajes de error.
 * *************************************************************************** *
-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<!--  Fin de: /quiz/views/error.ejs  -->

