<!--
 * *************************************************************************** *
 * Programa....: /quiz/views/quizes/answer.ejs
 * Descripción.: Formulario que muestra si es correcta/Incorrecta la espuesta.
 * *************************************************************************** *
-->
<html>
<head>
   <meta charset="UTF-8">
   <title>Quiz</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <p>
   <%= respuesta %> <br />
   <% if (respuesta === '¡Correcto!') { %>
      <a href="/quizes/busqueda">Volver</a>
   <% } else { %>
      <a href="/quizes/<%= quiz.id %>">Volver</a>
   <% } %>
   </p>
</body>
</html>

<!--  Fin de: /quiz/views/quizes/answer.ejs  -->

