<!--
 * *************************************************************************** *
 * Programa....: /quiz/views/quizes/index.ejs
 * Descripción.: Formulario que muestra si es correcta/Incorrecta la espuesta.
 * *************************************************************************** *
-->

<table>
   <% var i; for (i = 0; i < quizes.length; i++) { %>
      <tr>
         <td>
            <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
         </td>
      </tr>
   <% } %>
</table>
<br />
<a href="/quizes/new"><button type="button">Crear Nueva Pregunta</button></a>   

<!--  Fin de: /quiz/views/quizes/index.ejs  -->

