<!--
 * *************************************************************************** *
 * Programa....: /quiz/views/quizes/new.ejs
 * Descripción.: Formulario que muestra el alta de un nuevo registro.
 * *************************************************************************** *
-->

Añadir pregunta: 
<br />
<form method="post" action="/quizes/create" >

   <% include _form.ejs %>

</form>

<!--  Fin de: /quiz/views/quizes/new.ejs  -->

