<!--
 * *************************************************************************** *
 * Programa....: /quiz/views/quizes/question.ejs
 * Descripción.: Formulario de preguntas y respuesta.
 * *************************************************************************** *
-->
<html>
<head>
   <meta charset="UTF-8">
   <title>Quiz</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <form method="GET" action="/quizes/answer">
      Pregunta: <%= pregunta %><p></p>
      <input type="text" name="respuesta" value="Responda aquí" />
      <input type="submit" value="Enviar" />
   </form>
</body>
</html>

<!--  Fin de: /quiz/views/quizes/question.ejs  -->

