<html>
<head>
   <meta charset="UTF-8">
   <title>Quiz</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <form method="GET" action="/quizes/answer">
      Pregunta: <%= pregunta %><p></p>
      <input type="text" name="respuesta" value="responda aquí" />
      <input type="submit" value="Enviar" />
   </form>
</body>
</html>
